/* Fonts */

@font-face {
    font-family: AltaLight;
    src: url(/static/fonts/alta-regular.otf);
}
@font-face {
    font-family: Signal;
    src: url(/static/fonts/signal-normal.otf)
}
@font-face {
    font-family: ChivoBlack;
    src: url(/static/fonts/chivo-black.otf)
}
@font-face {
    font-family: Hattori;
    src: url(/static/fonts/hattori.otf)
}
@font-face {
    font-family: BrooklynSemiBold;
    src: url(/static/fonts/brooklyn-semibold.ttf)
}

/* Main Styling */

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(/static/imgs/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    scrollbar-width: none; 
    --input-border: transparent;
    --valid-input: green;
    --invalid-input: red;
    --btn-height: 2.5vw;
    --btn-width: 9vw;
    --btn-bg: #ddd;
    --btn-opacity: 0.5;
}

body::-webkit-scrollbar {
    display: none;
}

button:hover {
    cursor: pointer;
}

ul {
    display: inline-block;
    justify-content: center;
    width: 100vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

li {
    display: inline;
    float: left;
    color: white;
    cursor: pointer;
}

li a {
    display: inline-block;
    font-family: AltaLight;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    transition-duration: 0.5s;
}

li a:visited {
    color: white;
}

li a:hover {
    background-color: rgb(206, 159, 159)
}

/* Sign In */

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#sign-in {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#sign-in-desc {
    margin-bottom: 3vw;
}

form {
    display: flex;
    flex-direction: column;
    border: solid thin green;
}

form div {
    width: 90%;
}

h1 {
    font-family: AltaLight;
    font-size: 2.5em;
    letter-spacing: 0.5vw;
    color: white;
    text-align: center;
}

p {
    font-family: Hattori;
    font-size: 1.2em;
    color: white;
    text-align: center;
}

#sign-in-container {
    display: flex;
    background-image: url("/static/imgs/red-gradient.gif");
    border: solid thin white;
    border-radius: 3px;
    height: 25vw;
    width: fit-content;
    justify-content: center;
    margin-bottom: 5vw;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
}

.input-div {
    display: grid;
    width: 90%;
    grid-template-columns: 40% 60%;
    padding: 2vw 2vw 2vw 2vw
}

.input-lbl {
    font-family: Signal;
    color: white;
    font-size: 1.5em;
}

.input {
    border-radius: 3px;
    height: 2vw;
    width: 20vw;
    font-size: 1em;
    border-color: var(--input-border);
    border: solid 0.2vw white;
    margin-right: 3vw;
    padding-left: 0.5vw;
}

.input:focus {
    outline: none;
}

#email {
    font-family: Verdana;
    letter-spacing: 0.05vw;
}

#password {
    font-family: Verdana;
    letter-spacing: 0.05vw;
}

#keep-signed:hover {
    cursor: pointer;
}

#keep-signed-in {
    color: white;
    font-family: BrooklynSemiBold;
    font-size: 0.8em;
}

#checked-div {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

#submit-btn-div {
    display: flex;
    justify-content: center;
    padding: 2vw 2vw 2vw 2vw;
}

.submit-btn {
    width: var(--btn-width);
    height: var(--btn-height);
    margin: auto 2vw auto 2vw;
    font-family: Signal;
    font-size: 1vw;
    cursor: pointer;
    background-color: var(--btn-bg);
    opacity: var(--btn-opacity);
    border-radius: 3px;
    border: none;
    box-shadow: 0 10px 21px 0 rgba(0, 0, 0, 0.434), 0 20px 30px 0 rgba(0, 0, 0, 0.379);
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out, background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.submit-btn:hover {
    --btn-width: 12vw;
    --btn-height: 3vw;
    --btn-bg: white;
    --btn-opacity: 1;
}



